<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
	<meta name="description" content="description"/>
	<meta name="keywords" content="keywords"/>
% if @author
  <meta name="author" content="<%= @author %>"/>
% end
	<link rel="stylesheet" type="text/css" href="stylesheets/fluid.css" media="screen"/>
% for sheet in @stylesheets
  <link rel="stylesheet" type="text/css" href="stylesheets/<%= sheet %>" media="screen"/>
% end
% unless @inline_styles.empty?
  <style type="text/css">
% for style in @inline_styles
<%= style.fixed_indent( 4 ) %>
% end
	</style>
% end
% for script in @scripts
  <script type="text/javascript" src="scripts/<%= script %>"></script>
% end

	<title>ANTLR For Ruby: <%= @title %></title>
</head>

<body>
<div class="left">
	<div class="header">
		<h2><span>ANTLR for Ruby</span></h2>
		<h1><%= @title %></h1>
	</div>
	<div class="annotation">
% if @author
		<div class="author">by <%= @author %></div>
% end
    <div class="timestamp">updated <%= @time.strftime( "%A, %B %d, %Y at %I:%M%p %Z" ) %></div>
	</div>
	<div class="content">
<%= @body %>
	</div>
</div>

<div class="nav">
	<div class="logo"><span></span></div>

	<ul>
% for id, title in outline
		<li><a href="#<%= id %>"><%= title %></a></li>
% end
	</ul>
</div>

<div class="right">
	<div class="round">		
		<div class="roundtl"><span></span></div>
		<div class="roundtr"><span></span></div>
		<div class="clearer"><span></span></div>
	</div>

	<div class="subnav">
% for article in Article.articles
		<h1><a href="<%= relative_path( article.output_file ) %>"><%= article.title %></a></h1>
		<ul>
% for id, title in article.outline
			<li><a href="<%= relative_path( article.output_file ) %>#<%= id %>"><%= title %></a></li>
% end
		</ul>
% end
	</div>

	<div class="round">
		<div class="roundbl"><span></span></div>
		<div class="roundbr"><span></span></div>
		<span class="clearer"></span>
	</div>
</div>

<div class="footer">

	&copy; 2007 <a href="index.html">Website.com</a>. Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> &amp; <a href="http://validator.w3.org/check?uri=referer">XHTML</a>. <a href="http://templates.arcsin.se">Website template</a> by <a href="http://arcsin.se">Arcsin</a>

</div>
</body>

</html>